* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: rgb(228, 233, 240);
}

.sidebar {
  background-color: #4196e6;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  padding: 20px;
  /* display: none; */
}

.sidebar img {
  height: 20px;
  filter: invert(100%);
}

.sidebar span {
  color: white;
  font-weight: 500;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 30px;
}

.dashboard img {
  height: 35px;
}

.dashboard span {
  font-size: 19px;
}

.middle {
  margin-bottom: 20px;
}

.middle div, 
.bottom div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  padding-left: 7px;
  cursor: pointer;
}

.header {
  background-color: white;
  position: fixed;
  left: 250px;
  right: 0;
  padding: 20px 40px;
}

.header img {
  height: 25px;
}

.header div {
  display: grid;
}

.header .search-menu {
  grid-template-columns: 1fr 250px;
  column-gap: 100px
}

.search-menu div {
  align-items: center;
}

.search-menu .search {
  grid-template-columns: 25px 1fr;
  column-gap: 13px;
}

.search input {
  height: 36px;
  border: none;
  background-color: rgb(217, 225, 236);
  border-radius: 20px;
  padding-left: 15px;
  font-size: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.search .menu-button {
  display: none;
}

.search-menu .profile {
  grid-template-columns: 25px 40px 130px;
  column-gap: 20px;
}

.profile .profile-img {
  height: 40px;
  border-radius: 20px;
}

.profile span {
  font-weight: bold;
  font-size: 17px;
}

.user-menu {
  grid-template-columns: 50px 1fr 90px 90px 90px;
  column-gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.user-menu img {
  height: 50px;
  border-radius: 30px;
}

.user-menu span {
  font-weight: bold;
  font-size: 18px;
}

.user-menu span::before {
  content: 'Hi, there';
  display: block;
  font-size: 13px;
  margin-bottom: 2px;
}

.user-menu button {
  height: 35px;
  border: none;
  border-radius: 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #4196e6;
  cursor: pointer;
}

.main-content {
  padding-left: 265px;
  padding-top: 180px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 15px;
}

.content-title {
  font-weight: bold;
  font-size: 17px;
}

.main-content .projects-container {
}

.projects-container .project-label {
}

.project-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.project-grid .project {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px 20px;
  border-radius: 8px;
  border-left: 8px solid rgb(243, 178, 0);
}

.project .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.project .description {
  font-size: 14px;
  color: rgb(68, 68, 68);
  line-height: 18px;
  margin-bottom: 40px;
}

.project .icons {
  display: flex;
  justify-content: end;
}

.icons img {
  height: 20px;
  filter: invert(25%);
  margin-inline: 10px;
}

img {
  height: 50px;
}